@import 'src/assets/styles/global.scss';
@import 'src/assets/styles/util/vars';

.container{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    background: $dark-grey;
    padding: 10px 0;
    height: 100vh;
}

