$primary-font: 'Poppins', sans-serif;
$white-color: #FFFFFF;
$light-grey: rgb(68, 74, 78);
$purple-color:rgb(99, 99, 161);
$dark-grey: rgb(32, 32, 34);
$blue-color: rgb(41, 30, 196);
$dark-white: aliceblue;